<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <h1>Comment ID: <%= com.id %>
    </h1>
    <h2>
        <%= com.comment %> - <%= com.username %>
    </h2>
    <a href="/comments">back to comments</a>
    <a href="/comments/<%= com.id %>/edit ">edit comment</a>
</body>

</html>