<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>EDIT</h1>
    <form action="/comments/<%=com.id%>?_method=PATCH" method="post">
        <label for="comment">Edit comment</label>
        <textarea name="comment" id="editcomment" cols="30" rows="10"><%= com.comment %> </textarea>
        <button type="submit">Post</button>
    </form>
    <a href="/comments">back to comments</a>
    <a href="/comments/<%= com.id %> ">details</a>
    <form action="/comments/<%=com.id%>?_method=DELETE" method="post"><button>delete</button></form>
</body>

</html>